{
    "shardId"   : 1,
    "masters" : [
        {
            "host"      : "th-dev.japanwest.cloudapp.azure.com",
            "port"      : 3306,
            "user"      : "root",
            "password"  : "TouchholicRoot!",
            "database"  : "project-underworld-log",
            "connectionLimit" : 3
        }
    ]
}